table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: plum;
}

th {
  background-color: purple;
  color: white;
}
.x {
  padding: 50px;
}
button {
  background-color: rgb(0, 189, 196);
  color: #f2f2f2;
  border-radius: 2px;
}
button:hover {
  background-color: purple;
}
.y {
  height: 350px;
}
