* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(236, 230, 230);
}
.wrap {
  margin: auto;
  display: flex;
}
.sidebar {
  width: 100px;
  height: 800px;
  background: #fff;
}
.sidebar ul {
  margin-top: 50px;
}
.sidebar ul li {
  list-style: none;
  text-align: center;
}
.sidebar ul li ion-icon {
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
  color: rgb(133, 4, 255);
}
.sidebar li:hover,
li:active {
  border-right: 5px solid rgb(133, 4, 255);
}

.head {
  display: flex;
  padding: 20px 30px;
}
h2 {
  color: rgb(133, 4, 255);
  font-size: 26px;
}
.h-title span {
  font-size: 16px;
  color: rgba(132, 0, 255, 0.651);
}
.search {
  width: 400px;
  margin-left: 120%;
}
input {
  border: none;
  outline: none;
  padding: 7px 13px;
  border-radius: 15px;
}
.card {
  display: flex;
  padding: 15px 40px;
}
.info {
  width: 230px;
  height: 150px;
  padding: 30px;
  background: rgb(133, 4, 255);
  margin-right: 20px;
  border-radius: 10px;
  color: #fff;
}
.info span {
  margin-bottom: 30px;
}
h5 {
  margin-top: 8px;
}
.board {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 250px;
  margin-right: 250px; */
}
h1 {
  align-content: center;
  font-size: 56px;
}
a {
  text-decoration: none;
}
