.nav-bar {
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}
form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: purple;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  align-content: left;
}

.login-blocks {
  display: flex;
  justify-content: space-between;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

form {
  padding: 60px;
  padding-top: 0;
  border-radius: 30px;
  border-color: blueviolet;
}
.hr {
  height: 500px;
  width: 460px;
  margin-left: 450px;
  margin-right: 30px;
  padding: 40px;
  border-radius: 30px;
  align-items: center;
  border-color: blueviolet;
  margin-bottom: 100px;
}
/* .imgcontainer1 {
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 280px;
  align-items: center;
} */
.contact {
  background-color: purple;
  color: white;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
a {
  color: black;
}
