.u-section-1 {
  background-image: url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 496px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/rajashekhar.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/WhatsAppImage2021-10-26at9.30.40AM.jpeg");
  background-position: 50% 43.34%;
  margin: 0 33px 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/20210906_202938.jpg");
  background-position: 50% 75.05%;
  margin: 0 33px 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}