body {
  background-image: url("images/Honey\ Dew.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

.tm {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: rgb(0, 110, 28);
}
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  height: 100px;
  width: 33.33%;
  padding: 30px 10px;
  align-items: center;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 50px;
  text-align: center;
  background-color: #34353425;
  position: absolute;
  width: 350px;
  height: 450px;
  align-items: center;
}
.imglogin {
  /* position: relative; */
  width: 35%;
  border-radius: 60%;
  overflow: hidden;
}
.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */

  /*for demo*/
  display: inline-block;
  vertical-align: middle;
}
.circular_image img {
  width: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-linkedin {
  background: #4f5457;
  color: white;
}
.fa:hover {
  opacity: 0.9;
}
.tagline {
  font-family: "Nunito", sans-serif;
  font-size: x-large;
}
