* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "PT-Sans-Bold";
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
  font-family: "PT-Sans-Regular";
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: "PT-Sans-Italic";
  src: url(../fonts/PT_Sans-Web-Italic.ttf);
}

body {
  font-size: 16px;
  font-family: "PT-Sans-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT-Sans-Bold";
  color: white;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }
}

.maine-menu {
  position: absolute;
  top: 20px;
}
.maine-menu .navbar-nav li .nav-link {
  font-family: "PT-Sans-Bold";
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 25px;
  color: #fff;
}
.maine-menu .navbar-nav li.active a,
.maine-menu .navbar-nav li:hover a,
.maine-menu .navbar-nav li:visited a {
  color: #149be9;
}
.maine-menu .bar1,
.maine-menu .bar2,
.maine-menu .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
.maine-menu .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
.maine-menu .change .bar2 {
  opacity: 0;
}
.maine-menu .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
@media (max-width: 991px) {
  .maine-menu .navbar-nav {
    float: right;
  }
  .maine-menu .navbar-nav li .nav-link {
    font-family: "PT-Sans-Bold";
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 10px;
    color: #fff;
  }
  .maine-menu .collapse.show {
    background: rgba(0, 0, 0, 0.5);
  }
}

.card {
  border: none;
  background: none;
  border-radius: 0;
}
.card img {
  border-radius: 0;
}

.fh5co-home-banner {
  padding: 0;
}
.fh5co-home-banner .card {
  border: none;
}
.fh5co-home-banner h2 {
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  max-width: 730px;
  margin: 0 auto;
}
.fh5co-home-banner a {
  text-transform: uppercase;
  color: #fff;
  width: 198px;
  border-radius: 40px;
  margin-top: 50px;
  padding: 13px 0;
}
.fh5co-home-banner a svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -13px;
}
.fh5co-home-banner .center-text {
  text-align: center;
  position: relative;
  top: 35%;
}
.fh5co-home-banner .card-img-overlay {
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -moz-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -o-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
}
@media (max-width: 991px) {
  .fh5co-home-banner h2 {
    font-size: 30px;
    max-width: 460px;
  }
  .fh5co-home-banner .center-text {
    top: 30%;
  }
}
@media (max-width: 700px) {
  .fh5co-home-banner a {
    width: 140px;
    padding: 4px 0;
  }
  .fh5co-home-banner a svg {
    height: 35px;
    margin-top: -5px;
    width: 140px;
  }
}
@media (max-width: 600px) {
  .fh5co-home-banner a {
    margin-top: 20px;
  }
  .fh5co-home-banner h2 {
    font-size: 18px;
    max-width: 260px;
  }
  .fh5co-home-banner .center-text {
    top: 30%;
  }
}

.fh5co-two-img .card-img-overlay {
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -moz-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -o-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
}


.card-title {
  letter-spacing: 3px;
  font-family: "Zen Kurenaido", sans-serif;
}
