* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "PT-Sans-Bold";
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
  font-family: "PT-Sans-Regular";
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: "PT-Sans-Italic";
  src: url(../fonts/PT_Sans-Web-Italic.ttf);
}

body {
  font-size: 16px;
  font-family: "PT-Sans-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT-Sans-Bold";
  color: white;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }
}

.maine-menu {
  position: absolute;
  top: 20px;
}
.maine-menu .navbar-nav li .nav-link {
  font-family: "PT-Sans-Bold";
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 25px;
  color: #fff;
}
.maine-menu .navbar-nav li.active a,
.maine-menu .navbar-nav li:hover a,
.maine-menu .navbar-nav li:visited a {
  color: #149be9;
}
.maine-menu .bar1,
.maine-menu .bar2,
.maine-menu .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
.maine-menu .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
.maine-menu .change .bar2 {
  opacity: 0;
}
.maine-menu .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
@media (max-width: 991px) {
  .maine-menu .navbar-nav {
    float: right;
  }
  .maine-menu .navbar-nav li .nav-link {
    font-family: "PT-Sans-Bold";
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 10px;
    color: #fff;
  }
  .maine-menu .collapse.show {
    background: rgba(0, 0, 0, 0.5);
  }
}

.card {
  border: none;
  background: none;
  border-radius: 0;
}
.card img {
  border-radius: 0;
}

.fh5co-home-banner {
  padding: 0;
  margin-bottom: 50px;
}
.fh5co-home-banner .card {
  border: none;
}
.fh5co-home-banner h2 {
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  max-width: 730px;
  margin: 0 auto;
}
.fh5co-home-banner a {
  text-transform: uppercase;
  color: #fff;
  width: 198px;
  border-radius: 40px;
  margin-top: 50px;
  padding: 13px 0;
}
.fh5co-home-banner a svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -13px;
}
.fh5co-home-banner .center-text {
  text-align: center;
  position: relative;
  top: 35%;
}
.fh5co-home-banner .card-img-overlay {
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -moz-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -o-linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
}
/* @media (max-width: 991px) {
  .fh5co-home-banner h2 {
    font-size: 30px;
    max-width: 460px;
  }
  .fh5co-home-banner .center-text {
    top: 30%;
  }
}
@media (max-width: 700px) {
  .fh5co-home-banner a {
    width: 140px;
    padding: 4px 0;
  }
  .fh5co-home-banner a svg {
    height: 35px;
    margin-top: -5px;
    width: 140px;
  }
}
@media (max-width: 600px) {
  .fh5co-home-banner a {
    margin-top: 20px;
  }
  .fh5co-home-banner h2 {
    font-size: 18px;
    max-width: 260px;
  }
  .fh5co-home-banner .center-text {
    top: 30%;
  }
} */

.fh5co-two-img .card-img-overlay {
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -moz-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -o-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
  background: -linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    black
  );
}

.card-title {
  letter-spacing: 3px;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 30px;
}
.card-title_1 {
  letter-spacing: 3px;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 100px;
  color: aliceblue;
  margin-bottom: 0 rem;
}
.continue {
  color: #149be9;
}
.for-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.services {
  font-family: "PT-Sans-Bold";
  font-size: 25px;
  text-transform: uppercase;
}

.reasons {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33.33%;
  max-width: 284px;
  margin-bottom: 40px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 20px;
  /* border: #149be9 solid;
  border-radius: 15px; */
}
.reason-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 32px;
}
.reason-line {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
}
.platform {
  background: peachpuff;
  padding-top: 80px;
  color: black;
  font-family: "PT-Sans-Bold";
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.info {
  padding-left: 300px;
  padding-right: 300px;
  font-size: 16px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.products {
  margin-top: 40px;
}
.products .options {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  padding-right: 0;
}
.names {
  display: flex;
  position: relative;
  overflow-x: scroll;
  border-bottom: 1px solid black;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}
.options {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}
.name {
  cursor: pointer;
  padding: 13px 14px;
  margin: 0 10px;
  z-index: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
}
.products .slide {
  display: flex;
  min-height: 397px;
  position: relative;
}
.slide button.back {
  left: 16px;
  padding: 0;
}
.team {
  background-image: url("images/Honey\ Dew.jpg");
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  /* font-family: Verdana, sans-serif; */
  margin: 0;
}
.mySlides {
  display: none;
  border-radius: 5px;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  /* -webkit-animation-duration: 15s; */
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
